<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flash Cards!</title>
    <!-- <script src="./htmx.min.js"></script> -->
    <script src="https://unpkg.com/htmx.org@1.9.8"
        integrity="sha384-rgjA7mptc2ETQqXoYC3/zJvkU7K/aP44Y+z7xQuJiVnB/422P/Ak+F/AqFR7E4Wr"
        crossorigin="anonymous"></script>
</head>

<body>
    <h1>Flash Cards</h1>
    <div id="content-container">
        <div class="card">Welcome!</div>
        <button hx-post="/newCard" hx-swap="innerHTML" hx-target="#content-container" class="button">New Card</button>
        <button hx-post="/flip" hx-swap="innerHTML" hx-target="#content-container" class="button">Flip</button>
    </div>
</body>

</html>